ROHAN SANTOSH KUMBHAR
PRN:- 25070123141
Batch:- ENTC A2
BASIC PROGRAMS EXPERIMENT-1

In [23]:
#First Python Program/ String
print("Hello, Welcome to Python Programming")

Hello, Welcome to Python Programming

In [24]:
a="Hello"
print(a)

Hello

In [25]:
#Comments
#This is a comment.
print("Hello,World!")

Hello,World!

In [26]:
#Many Statements
print("Hello World!")
print("Have a good day")
print("Learning Python is fun!")

Hello World!
Have a good day
Learning Python is fun!

In [27]:
print("Hello"); print("How are you?");print("Bye bye!")

Hello
How are you?
Bye bye!

In [28]:
#Print numbers
a=3
print(a)
print(358)
print(500,200)

3
358
500 200

In [29]:
#Variables
x=5
y="Hello, World!"

print(x)
print(y)

5
Hello, World!

In [30]:
#Case-Sensititve
a=4
A="Sally"

print(a)
print(A)

4
Sally

In [31]:
#Many Values to Multiple Variables
x,y,z="Orange","Banana","Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [32]:
#Basic Arithmetic Operations
a=10
b=5

print("Addition =",a+b)
print("Subtraction =",a-b)
print("Multiplication =",a*b)
print("Division =",a/b)

Addition = 15
Subtraction = 5
Multiplication = 50
Division = 2.0

In [33]:
#Understanding Data Types
x=10
y=3.14
z="Python"
A=True
c=3+2j

print(type(x))
print(type(y))
print(type(z))
print(type(A))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>

In [34]:
#Taking Input from User
name=input("Enter your name:")
age=int(input("Enter your age"))

print("Name:",name)
print("Age:",age)

Enter your name:ROHAN
Enter your age18
Name: ROHAN
Age: 18

In [1]:
#Simple Calculator
a=int(input("Enter the first number:"))
b=int(input("Enter the second number:"))

print("Addition =",a+b)
print("Subtraction =",a-b)
print("Multiplication =",a*b)
print("Division =",a/b)

Enter the first number:24
Enter the second number:15
Addition = 39
Subtraction = 9
Multiplication = 360
Division = 1.6

In [36]:
#Problem statement 1: take marks of 5 subjects and find the sum and average
english=int(input("Enter the marks of English:"))
maths=int(input("Enter the marks of Maths:"))
science=int(input("Enter the marks of Science:"))
hindi=int(input("Enter the marks of Hindi:"))
social=int(input("Enter the marks of Social:"))

total=english+maths+science+hindi+social
average=total/5

print("Total Marks =",total)
print("Average Marks =",average)

Enter the marks of English:60
Enter the marks of Maths:70
Enter the marks of Science:70
Enter the marks of Hindi:65
Enter the marks of Social:75
Total Marks = 340
Average Marks = 68.0

In [37]:
#find area of circle
radius=float(input("Enter the radius of the circle:"))
area=3.14*radius*radius

print("Area of the circle =",area)

Enter the radius of the circle:5
Area of the circle = 78.5

In [38]:
#find area of rectangle
length=float(input("Enter the length of the rectangle:"))
width=float(input("Enter the width of the rectangle:"))
area=length*width

print("Area of the rectangle =",area)

Enter the length of the rectangle:65
Enter the width of the rectangle:78
Area of the rectangle = 5070.0

In [39]:
#find perimeter of rectangle
length=float(input("Enter the length of the rectangle:"))
width=float(input("Enter the width of the rectangle:"))
perimeter=2*(length+width)

print("Perimeter of the rectangle =",perimeter)

Enter the length of the rectangle:20
Enter the width of the rectangle:35
Perimeter of the rectangle = 110.0

In [2]:
#python Boolean
print(10>9)
print(10==9)
print(10<9)

True
False
False

In [ ]:
#Print a message based on whether the condition is True or false:
a=200